.workout-page {
  background-color: #f5f5f5;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.workout-page .title {
  font-weight: 800;
  font-size: 3em;
  text-transform: uppercase;
  margin: 50px;
}

.workout-page .top-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  width: 100vw;
}

.workout-page button {
  font-size: 14px;
  height: 40px;
  color: white;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 8px;
  background-color: #f05454;
  border: none;
  margin-top: 55px;
  cursor: pointer;
}

.workout-page button:hover {
  opacity: 0.8;
}

.workout-container {
  background-color: white;
  width: 90%;
  border-radius: 32px 32px 0 0;
  position: absolute;
  top: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.exercise-details {
  flex-basis: 50%;
  flex-grow: 1;
  background-color: #f5f5f5;
  height: 90%;
  padding: 50px 0px 20px 0px;
  border-radius: 16px;
  margin: 30px;
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-direction: column;
}

.exercises-list {
  flex-basis: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
  /* background-color: red; */
  height: 100%;
}

.exercise {
  flex-grow: 0;
  margin: 10px;
  background-color: #f5f5f5;
  border-radius: 16px;
  width: 95%;
  padding: 15px 0 15px 15px;
  display: flex;
  align-items: center;
}

.exercise h1 {
  padding: 0px 10px 0px 10px;
}

.exercise:hover {
  cursor: pointer;
  background-color: #f5f5f5;
  box-shadow: 1px 1px 1px 0px #121212;
}

.exercise .repetitions {
  margin-left: auto;
  margin-right: 25px;
  font-weight: 600;
  font-size: 18px;
}

.exercise .repetitions span {
  font-weight: 800;
  font-size: 1.5em;
  /* text-transform: uppercase; */
  color: #f05454;
  /* padding: 0px 10px 0px 10px; */
}

.selected {
  /* dropshadow  blur #F05454*/
  box-shadow: 1px 2px 1px 0px #f05454 !important;
}

.exercise-details img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 16px;
  margin-top: 50px;
  border: #f05454 solid 1px;
}

.exercise-details h2 {
  font-weight: 800;
  font-size: 2em;
  text-transform: uppercase;
  margin: 20px 50px 0px 50px;
}

.exercise-details p {
  margin: 20px 50px 0 50px;
  text-align: center;
}
