.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 60px;
  padding: 0 20px;
}

.navbar a {
  text-decoration: none;
}

.navbar .logo:hover {
  opacity: 0.6;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  color: red;
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

.login,
.register {
  font-weight: bold;
  margin-right: 10px;
}

.nav-link {
  margin-right: 10px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: underline;
}

.navbar-right {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-right .username:hover,
.navbar-right .avatar:hover {
  opacity: 0.6;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.username {
  color: #333;
  font-weight: bold;
  margin-right: 15px;
}
