.homepage-page {
  background-color: #f5f5f5;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.homepage-page .title {
  font-weight: 800;
  font-size: 3em;
  margin: 40px;
}

.title span {
  color: #f05454;
}

.homepage-container {
  background-color: white;
  width: 90%;
  border-radius: 32px 32px 0 0;
  position: absolute;
  top: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 20px;
}

.homepage-container .workouts {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.select-workout-container {
  flex-grow: 0;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: strat;
  flex-grow: 1;
  flex-basis: 50%;
  /* background-color: red; */
  margin-right: 25px;
  height: 100vh;
  border-radius: 16px;
}

.select-workout-container h1 {
  font-weight: 800;
  font-size: 2.2em;
  margin: 50px 0 15px 0;
}

.workout {
  position: relative;
  /* padding: 25px; */
  margin: 10px;
  width: 550px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  border-radius: 16px;
}

.workout:hover {
  box-shadow: 1px 1px 1px 0px #121212;
  cursor: pointer;
}

.workout h3 {
  margin: 25px;
}

.workout img {
  position: absolute;
  right: 0%;
  max-width: 250px;
  top: -50%;
  object-fit: cover;
  -webkit-clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
}

.past-workouts-container {
  flex-grow: 1;
  flex-basis: 50%;
  background-color: #f5f5f5;
  height: 100vh;
  border-radius: 16px;
  width: 50%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
}

.past-workouts-container h1 {
  font-weight: 800;
  font-size: 2.5em;
  margin-top: 50px;
}

.logs-container {
  padding: 20px;
  margin-top: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  /* align-items: center; */
}

.logs-container p {
  font-size: 0.8rem;
}

.logs-container span {
  display: inline-block;
  font-weight: 800;
  font-size: 1.7rem;
  margin-right: 10px;
  color: #f05454;
  text-transform: uppercase;
}

.total {
  text-align: center;
  margin-top: -5px;
  margin-bottom: 5px;
}

.log {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.calendar {
  margin-top: 20px;
}

.calendar-day {
  position: relative;
}

.check-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f05454;
  font-size: 22px;
  font-weight: 900;
}

.react-calendar {
  border-radius: 12px;
  border: 0px #f05454 solid !important;
}

.react-calendar__tile--active,
.react-calendar__tile--now,
.react-calendar__tile:enabled:hover,
.react-calendar__month-view__days__day--weekend,
.react-calendar__tile:enabled:focus {
  background-color: white !important;
  color: black !important;
}
